meta(charset='utf8')
meta(content='width=device-width, initial-scale=1.0' name='viewport')
title= name
meta(content='' name='keywords')
meta(content='' name='description')
link(rel='stylesheet', href='#{baseUrl}/css/global.css')
link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans|Source+Code+Pro')
link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,700,700i,900,900i')
link(rel='stylesheet', href='#{baseUrl}/lib/ionicons/css/ionicons.min.css')
link(rel='stylesheet', href='#{baseUrl}/lib/owlcarousel/assets/owl.carousel.min.css')
link(rel='stylesheet', href='#{baseUrl}/lib/magnific-popup/magnific-popup.css')
link(rel='stylesheet', href='#{baseUrl}/lib/hover/hover.min.css')

<!-- Main Stylesheet File -->
link(rel='stylesheet', href='#{baseUrl}/css/style.css')

<!-- Responsive css -->
link(rel='stylesheet', href='#{baseUrl}/css/responsive.css')

<!-- Favicon icon -->
link(rel='shortcut icon', href='images/favicon.png')

//=======================================================
//Theme Name: Folio
//Theme URL: https://bootstrapmade.com/folio-bootstrap-portfolio-template/
//Author: BootstrapMade.com
//Author URL: https://bootstrapmade.com
//=======================================================
